@model PagedList.IPagedList<WebApplication1.Models.ProductDetails>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Index";

    var currentRouteValues = new RouteValueDictionary(Url.RequestContext.RouteData.Values);
    var queryString = Request.QueryString;
    foreach (var key in queryString.AllKeys)
    {
        currentRouteValues.Add(key, queryString[key]);
    }
    object data;
    object category;

}

<h2>Index</h2>

@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Create New", "Create")
}




@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
<p>
    Find by name: @Html.TextBox("search")
    <input type="submit" value="search" />
    @{
        if (currentRouteValues.TryGetValue("category", out data) != false)
        {
            @Html.Hidden("category", data)
        }

        if (currentRouteValues.TryGetValue("sort", out data) != false)
        {
            @Html.Hidden("sort", data)
        }
    }
</p>
}

@if (currentRouteValues.TryGetValue("sort", out category) != false)
{
    currentRouteValues.Remove("category");
}
<div>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        if (currentRouteValues.TryGetValue("sort", out data) != false)
        {
            @Html.Hidden("sort", data)
        }

        if (currentRouteValues.TryGetValue("search", out data) != false)
        {
            @Html.Hidden("search", data)
        }

        <select name="category">
            @foreach (WebApplication1.Models.Category categories in ViewBag.Categories)
            {
                <option value="@Html.DisplayName(categories.Name)">
                    @Html.DisplayName(categories.Name)
                </option>
            }

        </select>
        <input type="submit" value="Search" />

    }
</div>

@{


    if (currentRouteValues.TryGetValue("sort", out data) != false)
    {
        currentRouteValues.Remove("sort");
    }

    if (category != null)
    {
        currentRouteValues.Add("category", category);
    }

    currentRouteValues.Add("sort", "name");
}

<table class="table">
    <tr>
        <th>
            Category name
        </th>
        <th>
            @Html.ActionLink("Product name", "Index", currentRouteValues)
        </th>
        <th>
            @{
                var currentRouteValue = new RouteValueDictionary(Url.RequestContext.RouteData.Values);
                foreach (var key in queryString.AllKeys)
                {
                    currentRouteValue.Add(key, queryString[key]);
                }

                if (currentRouteValue.TryGetValue("sort", out data) != false)
                {
                    currentRouteValue.Remove("sort");
                }


                currentRouteValue.Add("sort", "count");
            }
            @Html.ActionLink("Count", "Index", currentRouteValue)
        </th>
        <th>
            Price
        </th>
        <th>
            Obrazek
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="~/Obrazki/@item.FileName" width="50px" height="50px" />
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))