@model WebApplication1.Models.ProductInOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductsInOrder</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        @if (User.IsInRole("Administrator"))
        {
            @Html.Raw("<dt>")
            @Html.DisplayNameFor(model => model.Creator)
            @Html.Raw("</dt>")
            @Html.Raw("<dd>")
            @Html.DisplayFor(model => model.Creator)
            @Html.Raw("</dd>")
            @Html.Raw("<dt>")
            @Html.DisplayNameFor(model => model.Created)
            @Html.Raw("</dt>")
            @Html.Raw("<dd>")
            @Html.DisplayFor(model => model.Created)
            @Html.Raw("</dd>")
            @Html.Raw("<dt>")
            @Html.DisplayNameFor(model => model.Modifier)
            @Html.Raw("</dt>")
            @Html.Raw("<dd>")
            @Html.DisplayFor(model => model.Modifier)
            @Html.Raw("</dd>")
            @Html.Raw("<dt>")
            @Html.DisplayNameFor(model => model.Updated)
            @Html.Raw("</dt>")
            @Html.Raw("<dd>")
            @Html.DisplayFor(model => model.Updated)
            @Html.Raw("</dd>")
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Orders", "Index", "Orders")
</p>
