@model WebApplication1.Models.OrderDetails

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })

            @if (Model.Status == WebApplication1.Models.Status.New)
            {
                @Html.ActionLink("To Pay", "ToPay", new { id = Model.Id })
            }

            @if (Model.Status == WebApplication1.Models.Status.ToPay && User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Payed", "Payed", new { id = Model.Id })
            }

            @if (Model.Status == WebApplication1.Models.Status.Payed && User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Deliving", "Deliving", new { id = Model.Id })
            }

            @if (Model.Status == WebApplication1.Models.Status.Deliving && User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Delived", "Delived", new { id = Model.Id })
            }

            @if (Model.Status == WebApplication1.Models.Status.Delived && User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Returned", "Returned", new { id = Model.Id })
            }

            @if (Model.Status != WebApplication1.Models.Status.Cancelled && User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Cancelled", "Cancelled", new { id = Model.Id })
            }


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
