@model IEnumerable<WebApplication1.Models.OrderDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Create New", "Create")
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.UserName)
            </td>
            <td>
                @if ((!User.IsInRole("Administrator") && item.Status == WebApplication1.Models.Status.New) || (User.IsInRole("Administrator") && item.Status != WebApplication1.Models.Status.Cancelled))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.DisplayText("|");
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Show Products", "Index", "ProductsInOrders", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
